@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
  margin: 0;
  background-color: #333333;
  box-sizing: border-box;
  color:#ccc;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
}

button {
  display: block;
  cursor: pointer;
  border: 2px solid #4caf50;
  background-color: #4caf50;
  color: #333333;
  outline: none;
  padding:  5px 16px;
  border-radius: 2px;
  transition: 0.3s;
  width: fit-content;
  height: fit-content;
}

button:hover {
  border: 2px solid #ccc;
  transform: scale(1.01);
  box-shadow: 0px 0px 5px #4caf50;
}

.error,
.success,
.warning {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 95%;
  max-width: 400px;
  padding: 15px;
  border-radius: 5px;
  color: white;
}

.error {
  background-color: rgb(168, 26, 26);
}

.success {
  background-color: rgb(44, 214, 44);
}

.warning {
  background-color: orange;
}
